*{
  font-weight: 400;
  font-size: 1.02rem;
  line-height: 160%;
}
body,html{
  padding: 0;
  margin: 0;
  color:rgba(0,0,0,1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'!important;
}
.wrapper{
  margin: 2rem auto;
  max-width: 35rem;
}


/*Mobile*/
@media (max-width: 34rem) {
  .wrapper{
    margin: 1rem;
  }
}

/*Elements*/
a{
  text-decoration: none; 
  color: inherit;
}
a:hover, .highlight{
  color: rgba(255, 255, 255, 1)!important;
}
.social a{
  color: #FF4242;
}
.social a:hover, .highlight{
  background: #FF4242;
  outline: 2px solid #FF4242;
}
.bio a{
  color: #0000FF;
}
.bio a:hover{
  background: #0000FF;
  outline: 2px solid #0000FF;
}
.projects a{
  color: #0000FF;
}
.projects a:hover{
  background: #0000FF;
  outline: 2px solid #0000FF;
}
.past a{
  color: #0000FF;
}
.past a:hover{
  background: #0000FF;
  outline: 2px solid #0000FF;
}
.connect a{
  color: #ff8800;
}
.connect a:hover{
  background: #ff8800;
  outline: 2px solid #ff8800;
}
.current a{
  color: #ff8800;
}
.current a:hover{
  background: #ff8800;
  outline: 2px solid #ff8800;
}

::selection{
  background: #000000!important;
  color: #FFFFFF;
}
::-moz-selection {
  background: #000000!important;
  color: #FFFFFF;
}
h1, h2{
  padding: 0;
  margin: 0;
  display: inline;
}
