
body,html{
  padding: 0;
  margin: 0;
  background: #dadada;
  color:rgba(0,0,0,0.9);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'!important;  
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  min-height: 100%;
}


/*Pages*/
.page_left{
  float: left;
  width: 50%;
}
.page_right{
  float: left;
  width: 50%;
  border-left: 0px solid #0000ff;
  min-height: 100%;
}
.page_left div, .page_right div{
  padding: 2rem;
}
.page_left{
    max-width: 555px;
}
.page_right{
    max-width: 900px;
}
.hide_smallscreen{
  display: none;
}
.img_hldr img{
  width: 100%;
  filter: grayscale(100%);
  border-radius: 4px;
  opacity: 0.9;
}
.img_hldr, #desc {
  padding: 0!important;
  overflow: hidden;
}
/*Mobile*/
@media (max-width: 900px) {
  body{
    margin: 1rem;
  }
  .page_left,.page_right{
    position: static;
    height: auto;
    width: 100%;
    border: 0;
  }
  .page_left div,.page_right div{
    padding: 0rem;
  }
  .hide_smallscreen{
    display: block;
  }
  .img_hldr {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*Desktop*/
@media (min-width: 900px) {
.img_hldr, #desc {
  height: auto!important;
}
}

/*Elements*/
a{
  text-decoration: none; 
  color: #000000;
}
a:hover{
  text-decoration: underline;
  transition: 0.2s all linear;
}
h1 a{
  text-decoration: underline;
}
.no_underline:hover{
  text-decoration: none;
}
a:hover > span{
  text-decoration: underline;
}
sup { vertical-align: top; font-size: 0.6em; }
::selection{
  background: #0000ff!important;
  color: white!important;
}
::-moz-selection {
  background: #0000ff!important;
  color: white!important;
}
highlight{
  background: #0000ff!important;
  color: white!important;  
}
highlight:hover{
  background: purple!important;
}
h1{
  /*font-size: 162%;
  line-height: 140%;
  font-weight: 400;*/
  font-weight: 400;
  font-size: inherit;
  line-height: inherit; 
  padding: 0;
  margin: 0;
}
h2{
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
thumbnail{
  font-size: 200%
}
label{
  display: inline-block;
  font-size: 65%;
  font-weight: 400;
  font-family: sans-serif!important;
  text-align: center;
  width: 1rem;
}
