
body,html{
  padding: 0;
  margin: 0;
  background: #ebebeb;
  color:rgba(0,0,0,0.9);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'!important;  
  font-weight: 300;
  font-size: 19px;
  line-height: 160%;
}
.wrapper{
  margin: 2rem;
  max-width: 700px;
}

/*Mobile*/
@media (max-width: 700px) {
  .wrapper{
    margin: 1rem;
  }
}

/*Elements*/
a{
  text-decoration: none; 
  color: #000000;
}
a:hover{
  text-decoration: underline;
  transition: 0.2s all linear;
}
h1 a{
  text-decoration: underline;
}
.no_underline:hover{
  text-decoration: none;
}
a:hover > span{
  text-decoration: underline;
}
sup { 
  vertical-align: top; font-size: 0.6em; 
}
::selection{
  background: #0000ff!important;
  color: white!important;
}
::-moz-selection {
  background: #0000ff!important;
  color: white!important;
}
highlight{
  background: #0000ff!important;
  color: white!important;  
}
highlight:hover{
  background: purple!important;
}
h1{
  /*font-size: 162%;
  line-height: 140%;
  font-weight: 400;*/
  font-weight: 400;
  font-size: inherit;
  line-height: inherit; 
  padding: 0;
  margin: 0;
}
h2{
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
label{
  display: inline-block;
  font-size: 65%;
  font-weight: 400;
  font-family: sans-serif!important;
  text-align: center;
  width: 1rem;
}
